<nav class="navbar">
  <a href="/<%= translations.lang %>/home">
    <div class="logo">
      <div class="logo-good">GOOD</div>
      <div class="logo-book">BOOK</div>
    </div>
  </a>
  <div class="navbar__align-right">
    <div>
      <a
        href="/lang/switch/uk"
        class="navbar__language__link <%= translations.lang == 'uk' ? 'active' : '' %>"
      >
        Українська
      </a>

      |
      <a
        href="/lang/switch/en"
        class="navbar__language__link <%= translations.lang == 'en' ? 'active' : '' %>"
        >English</a
      >
    </div>
    <% if (isAdmin) { %>
    <a class="navbar__language__link" href="/<%= translations.lang %>/book/add"
      >Add book</a
    >
    <a
      class="navbar__language__link"
      href="/<%= translations.lang %>/book/add-genre"
      >Add genre</a
    >
    <% } %>
    <a href="/<%= translations.lang %>/profile">
      <button class="submit-btn submit-btn--navbar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="icon log-out-icon"
        >
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
          />
        </svg>
        <%= translations.home.profile %>
      </button>
    </a>
  </div>
</nav>
