<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a href="/home">
          <div class="logo">
            <div class="logo-good">GOOD</div>
            <div class="logo-book">BOOK</div>
          </div>
        </a>
        <a href="/profile">
          <button class="submit-btn submit-btn--navbar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="icon log-out-icon"
            >
              <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
              <path
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
              />
            </svg>
            Profile
          </button>
        </a>
      </nav>
      <div class="content profile__content">
        <div class="profile__side-menu" id="container">
          <h2 class="heading heading--bold">Personal info</h2>

          <div class="profile__info">
            <p class="subheading subheading--regular"><%= user.username %></p>
            <p class="subheading subheading--small subheading--light">
              <%= user.email %>
            </p>
          </div>
          <div class="profile__languages">
            <p class="text text--muted">Language preference:</p>
            <p class="subheading subheading--small"><%= user.languages %></p>
          </div>
          <div class="profile__button-container">
            <form class="profile__edit" action="/profile/edit" method="GET">
              <button class="profile__submit-btn submit-btn" type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512"
                  class="icon log-out-icon"
                >
                  <path
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l293.1 0c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3 8.6-21.5 16.8-29.7l40.3-40.3c-32.1-31-75.7-50.1-123.9-50.1l-91.4 0zm435.5-68.3c-15.6-15.6-40.9-15.6-56.6 0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM375.9 417c-4.1 4.1-7 9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3 14.9-8.4L576.1 358.7l-71-71L375.9 417z"
                  />
                </svg>
                Edit
              </button>
            </form>
            <form class="profile__log-out" action="/auth/logout" method="POST">
              <button
                class="profile__submit-btn submit-btn submit-btn--outline submit-btn--red"
                type="submit"
              >
                <svg
                  class="icon log-out-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"
                  />
                </svg>
                Log out
              </button>
            </form>
          </div>
        </div>
        <div class="profile__container">
          <h2 class="heading heading--bold">Edit profile</h2>
          <form
            class="form mt-5 profile__form"
            action="/profile/save-changes"
            method="POST"
          >
            <div class="form__row">
              <div class="form__field">
                <label class="form__field__label" for="username"
                  >Username</label
                >
                <input
                  class="form__input-field"
                  type="text"
                  id="username"
                  name="username"
                  autocomplete="off"
                  value="<%= user.username || '' %>"
                  required
                />
                <% if (errorUsername) { %>
                <span class="error-message" id="username-error" role="alert">
                  <%= errorUsername %>
                </span>
                <% } %>
              </div>
              <div class="form__field">
                <label class="form__field__label" for="email">Email</label>
                <input
                  class="form__input-field"
                  type="email"
                  id="email"
                  name="email"
                  autocomplete="off"
                  value="<%= user.email || '' %>"
                  required
                />
                <% if (errorEmail) { %>
                <span class="error-message" id="email-error" role="alert">
                  <%= errorEmail %>
                </span>
                <% } %>
              </div>
            </div>
            <h4 class="form__field__label">Language preferences:</h4>
            <div class="form__field checkbox-grid">
                
                <% for (let i = 0; i < languages.length; i++) { %>
                    <label class="checkbox-option">
                      <input type="checkbox" name="languages" value="<%= languages[i] %>" class="genre-checkbox"
                      <% if (user.languages.includes(languages[i])) { %> checked <% } %> />
                      <%= languages[i] %>
                    </label>
                <% } %>                  
            </div>
            <div class="form__button-container">
              <button class="submit-btn submit-btn--outline">Cancel</button>
              <button type="submit" class="submit-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
