<!DOCTYPE html>
<html lang="<%= translations.lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="form__header">
          <div class="logo logo--background form__header__logo">
            <div class="logo-good">GOOD</div>
            <div class="logo-book">BOOK</div>
          </div>
          <h1 class="heading heading--bold"><%= translations.login.login %></h1>
          <div class="navbar__language-switch">
            <a
              href="/lang/switch/uk"
              class="navbar__language__link navbar__language__link--dark <%= translations.lang == 'uk' ? 'active' : '' %>"
            >
              Українська
            </a>

            |
            <a
              href="/lang/switch/en"
              class="navbar__language__link navbar__language__link--dark <%= translations.lang == 'en' ? 'active' : '' %>"
              >English</a
            >
          </div>
        </div>
        <form
          class="form mt-5"
          action="/<%= translations.lang %>/auth/login"
          method="POST"
        >
          <div class="form__field">
            <label class="form__field__label" for="usernameOrEmail"
              ><%= translations.login.loginData %>:</label
            >
            <input
              class="form__input-field"
              type="text"
              id="usernameOrEmail"
              name="usernameOrEmail"
              value="<%= data?.usernameOrEmail || '' %>"
              required
            />
            <% if (errorUsername) { %>
            <span class="error-message" id="username-error" role="alert">
              <%= translations.login.errorUsername %>
            </span>
            <% } %>
          </div>
          <div class="form__field">
            <label class="form__field__label" for="password"
              ><%= translations.login.password %>:</label
            >
            <input
              class="form__input-field"
              type="password"
              id="password"
              name="password"
              required
            />
            <% if (errorPassword) { %>
            <span class="error-message" id="password-error" role="alert">
              <%= translations.login.errorPassword %>
            </span>
            <% } %>
          </div>
          <% if (errorDB) { %>
          <span class="error-message" role="alert">
            <%= translations.errorDb %>
          </span>
          <% } %>
          <button type="submit" class="submit-btn">
            <%= translations.login.login %>
          </button>
        </form>
        <div class="form__login-link">
          <span><%= translations.login.doNotHaveAccount %></span>
          <a href="/<%= translations.lang %>" class="form__login-link__link"
            ><%= translations.register.createAccount %></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
