<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a href="/home">
          <div class="logo">
            <div class="logo-good">GOOD</div>
            <div class="logo-book">BOOK</div>
          </div>
        </a>
        <a href="/profile">
          <button class="submit-btn submit-btn--navbar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="icon log-out-icon"
            >
              <path
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
              />
            </svg>
            Profile
          </button>
        </a>
      </nav>
      <div class="content profile__content">
        <div class="sidebar" id="container">
          <h2 class="heading heading--bold">Navigation</h2>
          <div class="sidebar__link-container">
            <a class="sidebar__link" href="/profile">
              <p class="subheading subheading--regular">Saved books</p>
            </a>
            <a class="sidebar__link" href="/profile/edit">
              <p class="subheading subheading--regular">Personal data</p>
            </a>
          </div>
          <form class="profile__log-out" action="/auth/logout" method="POST">
            <button
              class="profile__submit-btn submit-btn submit-btn--outline submit-btn--red"
              type="submit"
            >
              <svg
                class="icon log-out-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"
                />
              </svg>
              Log out
            </button>
          </form>
        </div>
        <div class="profile__container">
          <h2 class="heading heading--bold">Your saved books</h2>
          <div class="book-grid mt" id="bookGrid">
            <% if (savedBooks && savedBooks.length > 0) { %> <%
            savedBooks.forEach(book => { %>
            <div class="book-card profile__book-card">
              <div class="book-card__image-container">
                <img
                  src="<%= book.image_url %>"
                  alt="<%= book.title %> cover"
                  class="book-card__cover-image book-cover"
                  onclick="openModal('<%= book.title %>', '<%= book.author %>', '<%= book.description %>','<%= book.image_url %>', '<%= book.year_published %>', '<%= book.number_of_pages %>', '<%= book.genre_name %>', '<%= book.language %>')"
                  onerror="this.src='/images/onerror_image.jpg';"
                />
                <form action="/remove-book" method="POST">
                  <input
                    type="hidden"
                    name="book_id"
                    value="<%= book.book_id %>"
                  />
                  <button
                    type="submit"
                    class="like-btn liked"
                    data-book-id="<%= book.book_id %>"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      class="like-icon"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                      ></path>
                    </svg>
                  </button>
                </form>
              </div>
              <div class="book-card__details">
                <h3 class="subheading subheading--regular">
                  <%= book.title %>
                </h3>
                <p class="subheading subheading--small subheading--light">
                  <%= book.author %>
                </p>
              </div>
            </div>
            <% }); %> <% } else { %>
            <p class="subheading subheading--small subheading--light">
              You haven't saved books...
            </p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-overlay" aria-modal="true" role="dialog" id="bookModal">
      <div class="modal__container">
        <div class="modal__content">
          <div class="modal__header">
            <h2 class="heading heading--bold" id="modalBookTitle"></h2>
            <button
              class="close-button"
              aria-label="Close modal"
              onclick="closeModal()"
            >
              ×
            </button>
          </div>
          <div class="modal__body">
            <div class="book-cover-container">
              <img
                class="book-card__cover-image"
                src=""
                alt="Book cover"
                id="modalBookImage"
              />
            </div>
            <div class="modal__book-details">
              <div class="modal__book-details__section">
                <h3 class="subheading subheading--bold">Author</h3>
                <p
                  class="subheading subheading--light subheading--small"
                  id="modalAuthorName"
                ></p>
              </div>
              <div
                class="modal__book-details__section modal__book-details__section--description"
              >
                <h3 class="subheading subheading--bold">Description</h3>
                <p
                  class="subheading subheading--light subheading--small"
                  id="modalBookDescription"
                ></p>
              </div>
              <div class="modal__book-additional-details">
                <div class="detail-item">
                  <h4 class="subheading subheading--bold subheading--small">
                    Genre
                  </h4>
                  <p class="text text--muted" id="modalGenres"></p>
                </div>
                <div class="detail-item">
                  <h4 class="subheading subheading--bold subheading--small">
                    Year
                  </h4>
                  <p class="text text--muted" id="modalYear"></p>
                </div>
                <div class="detail-item">
                  <h4 class="subheading subheading--bold subheading--small">
                    Pages
                  </h4>
                  <p class="text text--muted" id="modalPages"></p>
                </div>
                <div class="detail-item">
                  <h4 class="subheading subheading--bold subheading--small">
                    Language
                  </h4>
                  <p class="text text--muted" id="modalLanguage"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/openModal.js"></script>
    <script src="/js/editProfileWindow.js"></script>
  </body>
</html>
