<!DOCTYPE html>
<html lang="<%= translations.lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <div class="logo-good">GOOD</div>
          <div class="logo-book">BOOK</div>
        </div>
        <div class="navbar__language-switch">
          <a
            href="/lang/switch/uk"
            class="navbar__language__link <%= translations.lang == 'uk' ? 'active' : '' %>"
          >
            Українська
          </a>

          |
          <a
            href="/lang/switch/en"
            class="navbar__language__link <%= translations.lang == 'en' ? 'active' : '' %>"
            >English</a
          >
        </div>
      </nav>
      <div class="content">
        <h1 class="heading heading--bold heading--muted">
          <%= translations.quizReevaluation.heading %>
        </h1>
        <form
          id="quizForm"
          class="likert"
          action="/<%= translations.lang %>/quiz/update-preferences/submit"
          method="POST"
          onsubmit="return validate(event)"
        >
          <label class="likert__question"
            ><%= translations.quiz.questionBookLength %></label
          >
          <input class="likert__scale__item__input" id="bookLengthShort"
          type="radio" name="bookLength" value="shortBook"
          <%=preferences.numberOfPages === "short" ? "checked" : "" %> required
          />
          <label class="likert__scale__item" for="bookLengthShort"
            ><%= translations.quiz.upTo %> <%= lowerPageBound %> <%=
            translations.quiz.pages %></label
          ><br />
          <input class="likert__scale__item__input" id="bookLengthMedium"
          type="radio" name="bookLength" value="mediumBook"
          <%=preferences.numberOfPages === "medium" ? "checked" : "" %> required
          />
          <label class="likert__scale__item" for="bookLengthMedium"
            ><%= lowerPageBound %> - <%= upperPageBound %> <%=
            translations.quiz.pages %></label
          ><br />
          <input class="likert__scale__item__input" id="bookLengthLong"
          type="radio" name="bookLength" value="longBook"
          <%=preferences.numberOfPages === "long" ? "checked" : "" %> required
          />
          <label class="likert__scale__item" for="bookLengthLong"
            ><%= translations.quiz.moreThan %> <%= upperPageBound %> <%=
            translations.quiz.pages %></label
          ><br />
          <label class="likert__question"
            ><%= translations.quizReevaluation.questionWeightLength %></label
          >

          <%- include('partials/1to10scale', { translations, id:
          "bookLengthWeights", matchingValue: weights.numberOfPages }) %>

          <label class="likert__question"
            ><%= translations.quiz.questionBookYear %></label
          >
          <input class="likert__scale__item__input" id="bookYearOld"
          type="radio" name="bookYear" value="oldBook"
          <%=preferences.yearPublished === "old" ? "checked" : "" %> required />
          <label class="likert__scale__item" for="bookYearOld"
            ><%= translations.quiz.upTo %> <%= lowerYearBound %> <%=
            translations.quiz.yearChanged %></label
          ><br />
          <input class="likert__scale__item__input" id="bookYearMedium"
          type="radio" name="bookYear" value="mediumBook"
          <%=preferences.yearPublished === "medium" ? "checked" : "" %> required
          />
          <label class="likert__scale__item" for="bookYearMedium"
            ><%= lowerYearBound %> - <%= upperYearBound %> <%=
            translations.quiz.year %></label
          ><br />
          <input class="likert__scale__item__input" id="bookYearNew"
          type="radio" name="bookYear" value="newBook"
          <%=preferences.yearPublished === "new" ? "checked" : "" %> required />
          <label class="likert__scale__item" for="bookYearNew"
            ><%= translations.quiz.after %> <%= upperYearBound %> <%=
            translations.quiz.yearChanged %></label
          ><br />
          <label class="likert__question"
            ><%= translations.quizReevaluation.questionWeightYear %></label
          >
          <%- include('partials/1to10scale', { translations, id:
          "bookYearWeights", matchingValue: weights.yearPublished}) %>
          <h2 class="likert__question">
            <%= translations.quiz.questionGenres %>
          </h2>
          <div class="checkbox-grid">
            <% for (let i = 0; i < genres.length; i++) { %>
            <label class="checkbox-option">
              <input type="checkbox" name="genre_preferences" value="<%=
              genres[i].genre_name_en %>" class="genre-checkbox" <%=
              preferences.genre.includes(genres[i].genre_name_en) ? "checked" :
              "" %> /> <%= translations.dbGenres[genres[i].genre_name_en] %>
            </label>
            <% } %>
          </div>
          <p
            id="genreErrorMessage"
            class="error-message error-message--hidden"
            role="alert"
          >
            <%= translations.quiz.genreError %>
          </p>
          <label class="likert__question"
            ><%= translations.quizReevaluation.questionWeightGenre %></label
          >
          <%- include('partials/1to10scale', { translations, id: "genreWeights",
          matchingValue: weights.genre}) %>
          <h2 class="likert__question">
            <%= translations.quiz.questionLanguages %>
          </h2>
          <div class="checkbox-grid">
            <% for (let i = 0; i < languages.length; i++) { %>
            <label class="checkbox-option">
              <input type="checkbox" name="language_preferences" value="<%=
              languages[i].language_en %>" class="language-checkbox" <%=
              preferences.language.includes(languages[i].language_en) ?
              "checked" : "" %> /> <%=
              translations.dbLanguages[languages[i].language_en] %>
            </label>
            <% } %>
          </div>
          <p
            id="languageErrorMessage"
            class="error-message error-message--hidden"
            role="alert"
          >
            <%= translations.quiz.languageError %>
          </p>
          <label class="likert__question"
            ><%= translations.quizReevaluation.questionWeightLanguage %></label
          >
          <%- include('partials/1to10scale', { translations, id:
          "languageWeights", matchingValue: weights.language}) %>
          <button type="submit" class="mt submit-btn">
            <%= translations.quiz.submit %>
          </button>
        </form>
      </div>
    </div>
    <script src="/js/checkCheckboxSelection.js"></script>
    <script src="/js/weightScale.js"></script>
    <script src="/js/validate.js"></script>
  </body>
</html>
