<!DOCTYPE html>
<html lang="<%= translations.lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <div class="logo-good">GOOD</div>
          <div class="logo-book">BOOK</div>
        </div>
      </nav>
      <div class="content">
        <h1 class="heading heading--bold heading--muted">
          Complete the quiz to finish your registration
        </h1>
        <form
          id="quizForm"
          class="likert"
          action="/<%= translations.lang %>/quiz/submit"
          method="POST"
        >
          <label class="likert__question"
            >Book of which length do you prefer?</label
          >
          <input
            class="likert__scale__item__input"
            id="bookLengthShort"
            type="radio"
            name="bookLength"
            value="shortBook"
            required
          />
          <label for="bookLengthShort">Short</label><br />
          <input
            class="likert__scale__item__input"
            id="bookLengthLong"
            type="radio"
            name="bookLength"
            value="longBook"
          />
          <label for="bookLengthLong">Long</label><br />
          <label class="likert__question"
            >Which year of publishing do you prefer?</label
          >
          <input
            class="likert__scale__item__input"
            id="bookYearOld"
            type="radio"
            name="bookYear"
            value="oldBook"
            required
          />
          <label for="bookYearOld">Old</label><br />
          <input
            class="likert__scale__item__input"
            id="bookYearNew"
            type="radio"
            name="bookYear"
            value="newBook"
          />
          <label for="bookYearNew">New</label><br />

          <h2 class="likert__question">Select your preferred genres:</h2>
          <div class="checkbox-grid">
            <% for (let i = 0; i < genres.length; i++) { %>
            <label class="checkbox-option">
              <input
                type="checkbox"
                name="genre_preferences"
                value="<%= genres[i].genre_name %>"
                class="genre-checkbox"
              />
              <%= genres[i].genre_name %>
            </label>
            <% } %>
          </div>
          <p
            id="genreErrorMessage"
            class="error-message error-message--hidden"
            role="alert"
          >
            Please select at least one genre.
          </p>
          <h2 class="likert__question">Choose your language preferences:</h2>
          <div class="checkbox-grid">
            <% for (let i = 0; i < languages.length; i++) { %>
            <label class="checkbox-option">
              <input
                type="checkbox"
                name="language_preferences"
                value="<%= languages[i] %>"
                class="language-checkbox"
              />
              <%= languages[i] %>
            </label>
            <% } %>
          </div>
          <p
            id="languageErrorMessage"
            class="error-message error-message--hidden"
            role="alert"
          >
            Please select at least one language.
          </p>

          <button type="submit" class="mt submit-btn">Submit Quiz</button>
        </form>
      </div>
    </div>
    <script src="/js/checkCheckboxSelection.js"></script>
  </body>
</html>
