<!DOCTYPE html>
<html lang="<%= translations.lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <div class="logo-good">GOOD</div>
          <div class="logo-book">BOOK</div>
        </div>
        <div class="navbar__language-switch">
          <a
            href="/lang/switch/uk"
            class="navbar__language__link <%= translations.lang == 'uk' ? 'active' : '' %>"
          >
            Українська
          </a>

          |
          <a
            href="/lang/switch/en"
            class="navbar__language__link <%= translations.lang == 'en' ? 'active' : '' %>"
            >English</a
          >
        </div>
      </nav>
      <div class="content">
        <h1 class="heading heading--bold heading--muted">
          <%= translations.quiz.heading %>
        </h1>
        <form
          id="quizForm"
          class="likert"
          action="/<%= translations.lang %>/quiz/submit"
          method="POST"
        >
          <label class="likert__question"
            ><%= translations.quiz.questionBookLength %></label
          >
          <input
            class="likert__scale__item__input"
            id="bookLengthShort"
            type="radio"
            name="bookLength"
            value="shortBook"
            required
          />
          <label for="bookLengthShort"
            ><%= translations.quiz.answer1BookLength %></label
          ><br />
          <input
            class="likert__scale__item__input"
            id="bookLengthShort"
            type="radio"
            name="bookLength"
            value="mediumBook"
            required
          />
          <label for="bookLengthShort"
            ><%= translations.quiz.answer2BookLength %></label
          ><br />
          <input
            class="likert__scale__item__input"
            id="bookLengthLong"
            type="radio"
            name="bookLength"
            value="longBook"
          />
          <label for="bookLengthLong"
            ><%= translations.quiz.answer3BookLength %></label
          ><br />
          <label class="likert__question"
            ><%= translations.quiz.questionBookYear %></label
          >
          <input
            class="likert__scale__item__input"
            id="bookYearOld"
            type="radio"
            name="bookYear"
            value="oldBook"
            required
          />
          <label for="bookYearOld"
            ><%= translations.quiz.answer1BookYear %></label
          ><br />
          <input
            class="likert__scale__item__input"
            id="bookYearClassic"
            type="radio"
            name="bookYear"
            value="classicBook"
            required
          />
          <label for="bookYearClassic"
            ><%= translations.quiz.answer2BookYear %></label
          ><br />
          <input
            class="likert__scale__item__input"
            id="bookYearNew"
            type="radio"
            name="bookYear"
            value="newBook"
          />
          <label for="bookYearNew"
            ><%= translations.quiz.answer3BookYear %></label
          ><br />

          <h2 class="likert__question">
            <%= translations.quiz.questionGenres %>
          </h2>
          <div class="checkbox-grid">
            <% for (let i = 0; i < genres.length; i++) { %>
            <label class="checkbox-option">
              <input
                type="checkbox"
                name="genre_preferences"
                value="<%= genres[i].genre_name_en %>"
                class="genre-checkbox"
              />
              <%= genres[i][`genre_name_${translations.lang}`] %>
            </label>
            <% } %>
          </div>
          <p
            id="genreErrorMessage"
            class="error-message error-message--hidden"
            role="alert"
          >
            <%= translations.quiz.genreError %>
          </p>
          <h2 class="likert__question">
            <%= translations.quiz.questionLanguages %>
          </h2>
          <div class="checkbox-grid">
            <% for (let i = 0; i < languages.length; i++) { %>
            <label class="checkbox-option">
              <input
                type="checkbox"
                name="language_preferences"
                value="<%= languages[i] %>"
                class="language-checkbox"
              />
              <%= languages[i][`language_${translations.lang}`] %>
            </label>
            <% } %>
          </div>
          <p
            id="languageErrorMessage"
            class="error-message error-message--hidden"
            role="alert"
          >
            <%= translations.quiz.languageError %>
          </p>

          <button type="submit" class="mt submit-btn">
            <%= translations.quiz.submit %>
          </button>
        </form>
      </div>
    </div>
    <script src="/js/checkCheckboxSelection.js"></script>
  </body>
</html>
