<!DOCTYPE html>
<html lang="<%= translations.lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar', { translations }) %>
      <button
        class="round-btn to-top-btn"
        onclick="topFunction()"
        id="toTopBtn"
        title="Go to top"
      >
        <svg
          class="to-top-btn__icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
          <path
            d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
          />
        </svg>
      </button>
      <div class="content content--flexbox">
        <div class="sidebar" id="container">
          <div class="sidebar__link-container">
            <div class="book-card">
              <div class="book-card__image-container">
                <img
                  src="<%= book.image_url %>"
                  alt="<%= book.title %> cover"
                  class="book-card__cover-image book-cover"
                  onerror="this.src='/images/onerror_image.jpg';"
                />
                <form
                  action="/<%= translations.lang %>/save-book"
                  method="POST"
                >
                  <input
                    type="hidden"
                    name="book_id"
                    value="<%= book.book_id %>"
                  />
                  <button
                    type="submit"
                    class="round-btn like-btn <%= book.is_liked ? 'liked' : '' %>"
                    data-book-id="<%= book.book_id %>"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      class="like-icon"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                      ></path>
                    </svg>
                  </button>
                </form>
              </div>
              <div class="book-card__details">
                <h3 class="subheading subheading--regular">
                  <%= book.title %>
                </h3>
                <p class="subheading subheading--small subheading--light">
                  <%= book.author %>
                </p>
                <p class="subheading subheading--small subheading--light">
                  <%= book.number_of_pages %> <%=
                  translations.readBook.totalPages %>
                </p>
              </div>
              <div class="book-card__page-data">
                <form
                  class="form mt"
                  action="<%= '/' + translations.lang + '/book/' + book.title_en + '/update-pages' %>"
                  method="POST"
                >
                  <% if (!book.is_completed) { %>
                  <div class="form__field">
                    <label class="form__field__label" for="page-count"
                      ><%= translations.readBook.pages %>
                    </label>

                    <input
                      class="form__input-field"
                      type="number"
                      id="pageCount"
                      name="pageCount"
                      autocomplete="off"
                      min="1"
                      max="<%= book.number_of_pages %>"
                      value="<%= pagesRead %>"
                      required
                    />
                  </div>
                  <% } %>
                  <button
                    type="submit"
                    class="submit-btn <%= book.is_completed ? 'disabled' : '' %>"
                    id="register__create-btn"
                  >
                    <%= book.is_completed ? translations.home.readingCompleted :
                    translations.profile.save %>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="profile__container">
          <h1 class="heading heading--bold"><%= book.title %></h1>
          <% if (bookPreviewUrl) { %>
          <iframe
            src="<%= bookPreviewUrl %>"
            width="100%"
            height="600px"
            frameborder="0"
            class="mt"
          ></iframe>
          <% } else { %>
          <p><%= translations.readBook.errorNotFound %></p>
          <% } %>
        </div>
      </div>
    </div>
    <script src="/js/goToTopArrow.js"></script>
  </body>
</html>
