<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="form__header">
          <div class="logo logo--background form__header__logo">
            <div class="logo-good">GOOD</div>
            <div class="logo-book">BOOK</div>
          </div>

          <h1 class="heading heading--bold form__header__heading">
            Create an Account
          </h1>
        </div>
        <form class="form mt-5" action="/auth/register" method="POST">
          <div class="form__field">
            <label class="form__field__label" for="username">Username</label>
            <input
              class="form__input-field"
              type="text"
              id="username"
              name="username"
              autocomplete="off"
              value="<%= data?.username || '' %>"
              required
            />
            <% if (errorUsername) { %>
            <span class="error-message" id="username-error" role="alert">
              <%= errorUsername %>
            </span>
            <% } %>
          </div>
          <div class="form__field">
            <label class="form__field__label" for="email">Email</label>
            <input
              class="form__input-field"
              type="email"
              id="email"
              name="email"
              autocomplete="off"
              value="<%= data?.email || '' %>"
              required
            />
            <% if (errorEmail) { %>
            <span class="error-message" id="email-error" role="alert">
              <%= errorEmail %>
            </span>
            <% } %>
          </div>
          <div class="form__field">
            <label class="form__field__label" for="password">Password</label>
            <input
              class="form__input-field"
              type="password"
              id="password"
              name="password"
              required
            />
          </div>
          <% if (errorDB) { %>
          <span class="error-message" role="alert"> <%= errorDB %> </span>
          <% } %>
          <button type="submit" class="submit-btn">Create account</button>
        </form>

        <div class="form__login-link">
          <span>Already have an account?</span>
          <a href="/login" class="form__login-link__link">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
