<!DOCTYPE html>
<html lang="<%= translations.lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="form__header">
          <div class="logo logo--background form__header__logo">
            <div class="logo-good">GOOD</div>
            <div class="logo-book">BOOK</div>
          </div>

          <h1 class="heading heading--bold form__header__heading">
            <%= translations.register.createAccount%>
          </h1>
          <div class="navbar__language-switch">
            <a
              href="/lang/switch/uk"
              class="navbar__language__link navbar__language__link--dark <%= translations.lang == 'uk' ? 'active' : '' %>"
            >
              Українська
            </a>

            |
            <a
              href="/lang/switch/en"
              class="navbar__language__link navbar__language__link--dark <%= translations.lang == 'en' ? 'active' : '' %>"
              >English</a
            >
          </div>
        </div>

        <form
          class="form mt-5"
          action="/<%= translations.lang %>/auth/register"
          method="POST"
        >
          <div class="form__field">
            <label
              class="form__field__label"
              for="username"
              id="register__username"
              ><%= translations.register.username%></label
            >
            <input
              class="form__input-field"
              type="text"
              id="username"
              name="username"
              autocomplete="off"
              value="<%= data?.username || '' %>"
              required
            />
            <% if (errorUsername) { %>
            <span
              class="error-message"
              id="username-error register__username-error"
              role="alert"
            >
              <%= translations.register.errorUsername%>
            </span>
            <% } %>
          </div>
          <div class="form__field">
            <label class="form__field__label" id="register__email" for="email"
              ><%= translations.register.email%></label
            >
            <input
              class="form__input-field"
              type="email"
              id="email"
              name="email"
              autocomplete="off"
              value="<%= data?.email || '' %>"
              required
            />
            <% if (errorEmail) { %>
            <span
              class="error-message"
              id="email-error register__email-error"
              role="alert"
            >
              <%= translations.register.errorEmail%>
            </span>
            <% } %>
          </div>
          <div class="form__field">
            <label
              class="form__field__label"
              id="register__password"
              for="password"
              ><%= translations.register.password%></label
            >
            <input
              class="form__input-field"
              type="password"
              id="password"
              name="password"
              required
            />
          </div>
          <% if (errorDB) { %>
          <span class="error-message" id="error-db" role="alert">
            <%= translations.errorDb%>
          </span>
          <% } %>
          <button type="submit" class="submit-btn" id="register__create-btn">
            <%= translations.register.createAccount%>
          </button>
        </form>

        <div class="form__login-link">
          <span id="register__have-account"
            ><%= translations.register.haveAnAccount%></span
          >
          <a
            href="/<%=translations.lang %>/login"
            class="form__login-link__link"
            id="register__login-link"
            ><%= translations.register.login%></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
